.club-list {
  background-color: #262d25;
  margin-top: 0.25rem;
  overflow: hidden;

  &-title {
    padding: 0.5rem;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &-item {
    margin-bottom: 27px;
    
    @media (max-width: 991.98px) {
      margin-bottom: 0;
      display: grid;
      grid-template-rows: auto 3rem;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  &-content {
    display: block;

    @media (max-width: 991.98px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}
