.lynksin-header {
  background-color: #3c4c3c;
  min-height: 70px;

  .navbar-brand {
    margin-right: 0;
  }

  .nav-link {
    font-size: 14px;
    font-weight: bold;
    color: white !important;
    padding: 1rem !important;

    &:hover {
      color: #fefefe;
      background-color: #9f4c03;
    }
  }
}
