.profile-header {
  background-color: #aaaaaa;
  padding: 14px 6px 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2rem;
  width: 100%;

  &-avatar {
    object-fit: cover;

    img {
      max-width: 100%;
    }
  }

  &-desc {
    color: #ffffff;
    padding-top: 25px;

    &-name {
      font-size: 40px;
      font-weight: bold;
    }

    &-location {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    h5 {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
    }

    h6 {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &-row {
    margin-right: 0 !important;
    
    & > * {
      margin-top: 2rem;
    }
  }

  @media (max-width: 767.98px) {
    display: block;

    &-avatar {
      display: flex;
      justify-content: center;
    }

    &-desc {
      &-name {
        text-align: center;
      }
      &-location {
        text-align: center;
      }
    }

    &-row {
      padding: {
        left: 100px;
        right: 100px;
      }
    }
  }

  @media (max-width: 575.98px) {
    &-row {
      text-align: center;
    }
  }
}
