.portal-home {
  height: calc(100vh - 2rem - 72px);
  display: grid;
  grid-template-rows: auto 1fr;

  &-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 0.5rem;
    margin: 0 0.25rem;

    &-matches {
      display: grid;
      align-items: center;
      grid-template-columns: 170px auto;
      order: 1;

      @media (max-width: 575.98px) {
        grid-template-columns: auto;

        .matches-action {
          text-align: center
        }
      }

      @media (max-width: 1259.98px) {
        order: 2;
        justify-content: center;
        margin-top: 0.5rem;
      }
    }

    &-list {
      height: 100%;
      display: flex;
      align-items: center;
      background: #c3d0a3;
      height: 74px;
      order: 2;

      ul {
        display: flex;
        list-style-type: decimal;
        margin: 0;
        justify-content: space-around;
        width: 100%;
        padding: 0;
        li {
          margin-left: 0.5rem;
          font-size: 14px;
          color: black;
          font-weight: normal;
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      @media (max-width: 767.98px) {
        ul {
          flex-wrap: wrap;
        }
      }

      @media (max-width: 1259.98px) {
        order: 1;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    &-action {
      padding: 0 1.5rem;
      order: 3;
      
      &-btn {
        cursor: pointer;
        font-size: 18px;
        color: #3c4c3c;
        font-weight: normal;

        &:hover {
          color: #3c4c3c;
          text-decoration: none;
        }

        @media (max-width: 399.98px) {
          font-size: 16px;
        }
      }

      @media (max-width: 1259.98px) {
        order: 3;
        text-align: center;
      }
    }

    @media (max-width: 1259.98px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .matches-list {
    &-item {
      h5 {
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      h6 {
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .matches-action span {
    border-radius: 0;
    background-color: #ca4700;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin: 0 0.25rem;
  }

  &-container {
    &-row {
      height: 100%;
      margin: {
        left: 0 !important;
        right: 0 !important;
      }

      & > * {
        padding: 0.25rem !important;
      }
    }

    &-left {
      height: 100%;

      .row {
        margin: 0;

        & > * {
          padding: 0.25rem;
        }
      }

      video {
        width: 100%;
      }
    }
  }

  &-new-members {
    background: #242d24;
    height: 100%;
    overflow: auto;

    &-title {
      color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 7px 10px;
    }

    & > * {
      margin-bottom: 0.5rem;
    }
  }
}
